
.main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-aboutMe {
    margin: 260px 10px;
    display: grid;
    gap: 20px;
    grid-template:
        "SideBar SectionSkills" 1012px /
        auto minmax(578px, 784px);
    place-content: center;
}

.others {
    grid-area: others;
    max-height: 415px;
    background-color: var(--bg-secundary);
    padding: 40px;
}

@media (max-width:990px) {
  
    .section-aboutMe {
        margin: 0px 25px;
        grid-template:
            "SideBar SectionSkills" auto /
            auto minmax(350px,550px);
        gap: 10px;
       
    }

    .aside {
        grid-area: SideBar;
        width: 100%;
        max-width: 350px;
        height: 862px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: center;
        position: relative;

    }
    .photo-Container {
        max-width: 280px;
        height: 360px;
    }
    
    .text-container {
        width: 100%;
        min-width: 340px;
    }
    
    .text-container__h1 {
        font-size: 2.1rem;
    }
    
    .text-container__p {
        font-size: 1rem;
    }
    
    .sectionSkills {
        grid-area: SectionSkills;
        display: grid;
        gap: 10px;
        grid-template:
            "skills" 382px
            "tools" 471px "others" auto/
              auto;
        min-width: 250px;
        height: auto;
    }


}

@media (max-width:580px) {
    html {
        font-size: 12px;
    }

    .headerbg__logos__img {
        height: 36px;
    }

    .headerbg {
        padding: 150px 8px 10px 150px;
    }
}

@media(max-width:416px) {

    .titulo1 {
        font-size: 2.3rem;
        letter-spacing: 0px;
    }

    .titulo2 {
        font-size: 1.2rem;
    }

    .headerbg {
        min-height: calc(100vh - 310px);
        padding: 100px 8px 10px 90px;
    }

    .headerbg__logos__img {
        height: 26px;
        margin-right: 10px;
    }
}