:root {
  --font-Jost: "Jost", sans-serif;
  --font-Fira-sans: "Fira Sans", sans-serif;
  --border-color: #707070;
  --back-color: #1c1c1c;
  --bg-dark-color: #1d1d1d;
  --bg-secundary: #262626;
  --secundary-color: #13b7ff;
}
.nav-menu-ctnr {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  max-width: 1640px;
  padding: 20px;
  border: 1px solid var(--bg-secundary);
  align-items: center;
  background-color: var(--bg-dark-color);
}

.nav-menu__logo {
  height: 50px;
  width: 50px;
}

.nav-menu__items {
  margin-left: 50px;
}

.nav-link {
  font-family: "HelveticaNeueCyr";
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 39px;
  padding: 3px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 400ms ease-in-out;
  cursor: default;
}

.nav-link:hover {
  background-color: var(--secundary-color);
  color: #1c1c1c;
  padding-bottom: 15px;
}

.nav-menu__bars {
  display: none;
  font-size: 35px;
  color: var(--secundary-color);
  margin-left: 50px;
}

.nav-menu__bars__items{
  position: fixed;
  width: 60vw;
  height: 60vh;
  top: 100px;
  right: -55%;
  background-color: var(--bg-secundary);
  padding: 20px 25px;
}
.nav-menu__bars__items__link{
  width: 100%;
}
.nav-menu__bars__items__li{
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: white;
  list-style: none;
  list-style-position: inside;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 8px;
  transition: all 400ms ease-in-out ;
}
.nav-menu__bars__items__li:hover{
  color: var(--bg-secundary);
  background-color: #13b7ff;
  padding-bottom: 20px;
}

.nav-menu__bars__items__footer{
  font-family: "HelveticaNeueCyr";
  font-weight: 500;
  color: #13b7ff;
  list-style: none;
  list-style-position: inside;
  font-size: 0.8rem;
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}
.btn-translate {
  
  font-family: "HelveticaNeueCyr";
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px;
  margin-left: 50px;
  background-color: var(--border-color);
  color: var(--back-color);
  cursor: pointer;
  border-radius: 15px;
  transition: all 300ms ease-in-out;
  z-index: 101;
}
.btn-translate:hover {
  border-radius: 0px;
  padding: 6px;
  background-color: var(--secundary-color);
}

@media (max-width: 882px) {
  .nav-menu {
    justify-content: space-between;
  }

  .nav-menu__items {
    display: none;
  }

  .nav-menu__bars {
    display: flex;
  }
}

@media (max-width: 720px) {
  .nav-menu {
    height: 60px;
  }
  .nav-menu__logo {
    height: 38px;
    width: 38px;
  }
  .nav-menu__bars {
    font-size: 30px;
  }
  .nav-menu__bars__items{
    top: 60px;
  }
}

@media (max-width: 412px) {
  .nav-menu {
    height: 45px;
  }
  .nav-menu__logo {
    height: 28px;
    width: 28px;
  }
  .nav-menu__bars {
    font-size: 25px;
  }
  .nav-menu__bars__items{
    top: 45px;
  }
}
