:root {
    --border-color: #707070;
    --back-color: #1C1C1C;
    --bg-dark-color: #1D1D1D;
    --bg-secundary: #262626;
    --secundary-color: #13B7FF;
    --font-Jost:'Jost', sans-serif;
    --font-Fira-sans:'Fira Sans', sans-serif;
    --transition: all 400ms ease-in-out;
    --bar-lenght: 0%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--back-color);
    font-size: 16px;
}