:root {
  --border-color: #707070;
  --back-color: #1c1c1c;
  --bg-dark-color: #1d1d1d;
  --bg-secundary: #262626;
  --secundary-color: #13b7ff;
  --font-Jost: "Jost", sans-serif;
  --font-Fira-sans: "Fira Sans", sans-serif;
  --transition: all 400ms ease-in-out;
  --bar-lenght: 0%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  /* display: flex;
  justify-content: center;*/
  background-color: var(--back-color);

  position: relative;
}

.loading {
  width: 100px;
  position: fixed;
  top: 45%;
  left: 45%;
}
.loading > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-lg {
  position: fixed;
  top: 35px;
  right: 15%;
  font-family: "HelveticaNeueCyr";
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 39px;
  padding: 5px;
  background-color: var(--border-color);
  color: var(--back-color);
  cursor: pointer;
  border-radius: 15px;
  transition: all 300ms ease-in-out;
  z-index: 101;
}
.btn-lg:hover {
  border-radius: 0px;
  padding: 6px;
  background-color: var(--secundary-color);
}

@media (max-width: 485px) {
  * {
    font-size: 15px;
  }
}
